h1 {
    font-size: x-large;
    text-decoration: underline;
    text-align: center; 
    color: green;
  }
  
  h2 {
    font-size: larger;
    color: seagreen;
    text-decoration: underline;
    text-align: center; 
  }

  body {
    background-color: lightblue; 
 }

 h3 {
    font-size: larger;
    color: seagreen;
    text-decoration: underline;
    text-align: center; 
 }